

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  font-family: monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  background: #C8B1A5;
  color: #cadbf5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'ui-monospace';
}

.info {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}

.info h2 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.wins-losses {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 1;
}

.wins,
.losses {
  display: flex;
  align-items: center;
}

.wins .number,
.losses .number {
  font-size: 52px;
  margin-right: 5px;
}

.wins {
  margin-right: 30px;
}

.wins .number {
  color: #C8B1A5;
}

.losses .number {
  color: #C8B1A5;
}

.choices {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  grid-gap: 20px;
  font-family: 'monospace', sans-serif;
  font-size: 18px;
  color: #C8B1A5;
}

.choices > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vs {
  width: 100px;
  font-size: 100px;
  opacity: 0.25;
  transform: rotate(-0.1turn);
  pointer-events: none;
}

.choices button {
  cursor: pointer;
  font-size: 50px;
  margin-bottom: 20px;
  padding: 20px;
  background: #fff;
  outline: none;
  border: none;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  transition: 0.1s ease all;
}

.choices button:hover {
  transform: scale(1.07);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.choices .rock {
  background: #E8DBD5;
}

.choices .rock path {
  fill: #B5927F;
}

.choices .paper {
  background: #E8DBD5;
}

.choices .paper path {
  fill: #B5927F;
}

.choices .scissors {
  background: #E8DBD5;
}

.choices .scissors path {
  fill: #B5927F;
}

.choices .computer-choice {
  background: #CEAA9A;
  color: #61544D;
}

.choices .computer-choice path {
  fill: #61544D;
}

.game-state {
  background: #61544D;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  line-height: 1.3;
  font-family: 'Varela Round', sans-serif;
}

.game-state.win > div {
  background: #D0BCB2;
  color: #836835;
}
.game-state.win svg path {
  fill: #F1F1F1;
}

.game-state.draw > div {
  background: #D0BCB2;
  color: #F1F1F1;
}
.game-state.draw svg path {
  fill:  #DDC1BD;
}

.game-state.lose > div {
  background: rgb(218, 81, 111);
  color: rgb(240, 169, 184);
}
.game-state.lose svg path {
  fill: rgb(240, 169, 184);
}

.game-state > div {
  width: 60%;
  text-align: center;
  padding: 0 40px;
  border-radius: 10px;
  z-index: 1;
  color: #fff;
  font-size: 60px;
}

.game-state-content {
  display: flex;
  justify-content: center;
}

.game-state-content p {
  margin: 40px 15px 30px 0;
  display: flex;
  align-items: center;
}

.game-state-content svg {
  width: 100px;
}

.game-state button {
  margin-bottom: -5%;
  width: 100%;
  display: block;
  border: none;
  border-radius: 10px;
  padding: 25px;
  font-size: 30px;
  cursor: pointer;
  flex-shrink: 1;
  background: #A78D7F;
  color: #fdedfd;
}
