/* Tic Tac Toe CSS */

.tictactoe {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

.tictactoe header {
  align-self: flex-start;
}

.tictactoe h1 {
  margin-top: 0;
}
  
  .board {
    width: 450px;
    height: 450px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 4px solid var(--brown);
  }
  
  .square { 
    width: 150px;
    height: 150px;
    border: 4px solid var(--brown);
    background-color: var(--lightBrown);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .squareImg {
    width: 100px;
    height: auto;
  }

  .backBtn {
    /* display: block;
    text-decoration: none;
    color: white;
    background-color: var(--brown);
    padding: 0.5rem 1rem;
    border-radius: 15px;
    font-size: 1rem; */
    margin: 2rem auto 1rem;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 13px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
    background-color: var(--brown);
  }

  .result {
      text-align: center;
  }
