*{
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root{
  --brown: #61544D;
  --lightBrown: #E8D1C5;
  --green: #A1B57D;
}

body{
  background-color: #FFF1E6;
  color: #61544D;
}

/* main{
  padding-top: 50px;
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
} */

main{
margin: 30px;
}

.timer{
  max-width: 400px;
  text-align: center;
  margin-left: 228px;
  margin-top: 40px;
}


.start-btn svg{
  margin: 8.8px 0;
}

.game-btn {
  border: none;
  border-radius: 15px;
  color: white;
  padding: 13px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: var(--brown);
}

button{
  background-color: transparent;
  color: rgba(255,255,255,0.8);
  border:0;
  display: inline-block;
  width: 100px;
  cursor: pointer;
}

button.with-text{
  width: auto;
  background-color:rgba(255,255,255,0.1);
  border-radius:10px;
  padding: 10px 20px;
  font-size: 1.4rem;
  line-height: 36px;
  color: #61544D;
}
button.with-text svg{
  width: 36px;
  float:left;
  margin-right: 5px;
}

label{
  display:block;
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform: capitalize;
}

.dino-img{
  max-width: 337px;
  margin-top: -300px;
  position: absolute;
  right: 80px;
}

.modeAnimated {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  width: 400px;
}

.music{
  background-color: white;
  position: absolute;
  right: 30px;
  top: 30px;
  border-radius: 30px;
  padding-right: 18px;
  padding-left: 10px;
  padding-top: 5px;
  max-height: 63px;
  display: flex;
  justify-content: center;
}

.songDec{
  max-height: 63px;
  margin-top: 10px;
}

.btn-music{
  /* margin-top: 3px; */
  max-width: 63px;
}

.upper{
  bottom: 330px;
  right: 245px;
  max-width: 230px;
}